@charset "UTF-8"

*
{
	margin: 0;
	padding: 0;
}

.clearfix:before, .clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}

h1
{
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #9ed44b;
	margin: 0 0 2% 0;
	font-size: 55px;
}

h2
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 35px;
	margin: 1% 0 1% 0;
	color: #9ed44b;
}

h3
{
	color: #f5f5f5;
	font-family: 'Open Sans', Arial, sans-serif;
	clear: both; 
	margin: 0 0 2% 0;
}

p, li, cite, b, figcaption
{
	font-family: 'Open Sans', Arial, sans-serif;
	color: #444;
}

figcaption
{
	float: right;
	font-size: 15px;
	margin: 2% 0 2% 0;
}

/* ************* */

body
{
	width: 960px;
	margin: auto;
	background: #f5f5f5;
}

main
{
	width: 79%;
	float: left;
	background: #f5f5f5;
}

section
{
	width: 100%;
	background: #444;
	margin: 1% 0 1% 0;
	float: left;

}

article
{
	padding: 1%;
	box-sizing: border-box;
	margin: 0 0 2% 0;

	background: #9ed44b;
}

article  img
{
	width: 100%;
}

img
{
	float: left;
}

/* ************     */

header img
{
	width: 5%;
}

header h1
{
	margin-left: 8%;
}

/* ************		*/

.android_der
{
	margin-top: 0;
}

.android_der article
{
	width: 49%;
}

.android_der article:nth-child(2)
{
	float: left;
}

.android_der article:nth-child(3)
{
	float: right;
}

.android_der img
{
	width: 100%;
	height: 12em;
}


/*	************	*/

.android_smartwatchs article
{
	width: 32.3%;

}

.android_smartwatchs article:nth-child(2)
{
	float: left;
}

.android_smartwatchs article:nth-child(3)
{
	float: left;
	margin: 0 0 0 1.5%;
}

.android_smartwatchs article:nth-child(4)
{
	float: right;
}

.android_smartwatchs img
{
	width: 100%;
	height: 8em;
}

.android_smartwatchs article:nth-child(3) img
{
	height: 11em;
}

/*	************	*/

.android_smartphones article
{
	width: 49%;
	
}

.android_smartphones article:nth-child(2n+2)
{
	float: left;
	clear: both;
}

.android_smartphones article:nth-child(2n+1)
{
	float: right;
}

.android_smartphones img
{
	width: 100%;
	height: 11em;
}

/*	************	*/

.android_nouga article
{
	width: 100%;
	float: left;
	margin: 1% 0 1% 0;
}

.android_nouga article div p
{
	box-sizing: border-box;
}
.android_nouga img:nth-child(1)
{
	height: 200px;
	margin: 0 0 2% 0;
}

.android_nouga div p img:nth-child(1)
{
	width: 25%;
	margin: 0 1% 1% 0;
}

.android_nouga div p img:nth-child(3)
{
	width: 25%;
	margin: 1% 0 1% 1%;
	float: right;
}

.android_nouga div p:nth-child(1) cite
{
    color: #f5f5f5;
    background: #ff99dd;/*Couleur obligatoire*/
}

.android_nouga div p:nth-child(2) cite 
{
    margin: 2% 0 2% 0;
    float: left;
    color: #f5f5f5;
}

.android_nouga_definition
{
	background: #444;
}

.android_nouga_definition
{
	margin: 1% 0 1% 0;
}

.android_nouga_definition section div p
{
	width: 30%;
	background: #f5f5f5;
	clear: both;
	float: left;
	padding: 1%;
	box-sizing: border-box;

}

.android_nouga_definition section p
{
	width: 70%;
	float: right;
	background: #9ed44b;
	padding: 1%;
	box-sizing: border-box;
}

/* ************* */

.android_nouga_top
{
	width: 100%;
}

.android_nouga_top ol
{
	list-style-position: inside;
	padding: 0;
}

.android_nouga_top ol li
{
	width: 100%;
	background: #444;
	color: #f5f5f5;
	box-sizing: border-box;
	margin: 0 0 1% 0;
	padding: 1% 1% 1% 1%; 
}

/* *********** */
.android_plusarticle
{
	margin: 1% 0 4% 0;
}

.android_plusarticle article
{
	width: 23.5%;
	padding: 0;
	float: left;
	margin: 0 1% 0 1%;
}

.android_plusarticle article:nth-child(2)
{
	margin-left: 0;
}

.android_plusarticle article:last-child
{
	margin-right: 0;
}

.android_plusarticle article div
{
	margin: 5% 0 5% 0;
	padding: 3%;
}

/* ************* */

.android_right
{
	width: 19%;
	float: right;
	margin-top: 0;
}

.android_right article h2
{
	color: #444;
	font-size: 30px;
}

.android_right article:first-child
{
	margin: 33% 0 10% 0;
}

.android_right article:last-child
{
	margin: 0;
}

.android_right article div
{
	margin: 5% 0 5% 0;
}

.android_pub
{
	padding: 5% 0 5% 0;
	width: 99.2%;
	background: #f5f5f5;
	float: left;
	border-style: dashed;
	border-color: #9ed44b;
 	border-width: 4px;
 	text-align: center;
 	
}

footer
{
	clear: both;
}

footer hr
{
	background: #444;
	border-color: #444;
	height: 1.5px;
}

footer ul
{
	list-style-position: inside;
	float: left;
}

footer  div
{
	width: 23.5%;
	float: left;
	margin: 0 1% 0 1%;
	padding: 0;
}

footer  div:nth-child(3)
{
	margin: 0 0 0 1%;
}

footer  div:last-child
{
	margin: 0 1% 0 0;
}


@media screen and (max-width : 970px)
{
	.mobile_hide
	{ 
		display: none; 
	}

	body
	{
		width: 400px;
	}

	main, .android_right, .android_der article, .android_smartwatchs article, .android_smartphones article, .android_nouga article, .android_nouga_definition section p, .android_plusarticle article, footer div
	{
		width: 100%;
		float: left;
	
	}

	section
	{
		margin: 1% 0 3% 0;
	}

	header img 
	{
	    width: 8%;
	}

	h1
	{
		font-size: 33px;
	}

	h2
	{
		font-size: 24px;
	}
	
	h3
	{
		font-size: 17px;
	}

	p, li, figcaption
	{
		font-size: 12px;
	}

	.android_smartwatchs article:nth-child(3)
	{
		margin: 0 0 2% 0;
	}

	.android_smartwatchs img, .android_smartwatchs article:nth-child(3) img
	{
		height: 12em;
	}

	.android_nouga img:nth-child(1) 
	{
			 height: 150px;
		}
	.android_nouga_definition section
	{
		margin: 0;
	}

	.android_nouga_definition section div p, .android_nouga_definition section p
	{
		width: 98%;
		margin: 1%;
	}
	
	.android_nouga div p img:nth-child(1), .android_nouga div p img:nth-child(3)
	{
		width: 35%;
	}

	.android_plusarticle article
	{
		margin: 1% 0 1% 0;
	}

	.android_plusarticle article div
	{
		padding: 1%;
	}

	.android_right article:first-child 
	{
	    margin: 15% 0 5% 0;
	}

	footer div
	{
		margin: 2% 0 2% 0;
	}

	footer ul
	{
		width: 100%;
	}
}